{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sonya`s nails</title>
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
{% include 'common/header.html' %}

<div class="container">
    {% block content %}
    {% endblock %}
</div>
</body>
<footer id="footer" class="container">
    {% include 'common/footer.html' %}
</footer>
<script src="{% static 'js/changeImage.js' %}">

</script>
</html>

