{% extends 'base.html' %}
{% block content %}
    <form method="post" action="{% url 'create' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group has-success">
            <label class="form-label mt-4" for="inputValid">Nails Type</label>
            {{ form.type }}
            <label class="form-label mt-4" for="inputValid">Nails Title</label>
            {{ form.title }}
            <label class="form-label mt-4" for="inputValid">Nails Description</label>
            {{ form.description }}
            <label class="form-label mt-4" for="inputValid">Choice image</label>
            {{ form.image }}
            <div class="valid-feedback">Success! You've done it.</div>
            <button class="btn btn-primary" type="submit">Create</button>
        </div>
    </form>
{% endblock %}