{% extends 'nails/base.html' %}
{% load static %}
{% block content %}
    <div class="text-center">
        <h1>Hello, {{ user.profile.first_name }}!</h1>
        {% if profile.user == user %}
            <h5>This is your profile</h5>
        {% else %}
            <h5>This is {{ profile.user }} profile</h5>
        {% endif %}
        {% if profile.profile_image %}
            <img class="rounded-3" src="{{ profile.profile_image.url }}" alt="" width="180"
                 height="180">
        {% else %}
            <img class="rounded-circle mb-3" src="{% static 'images/profile.jpeg' %}" alt="" width="140"
                 height="140">
        {% endif %}
        <div class="w-50 m-auto">
            {% if profile.user == user %}
                <form method="post" action="{% url 'profile details' user.id %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form }}
                    <button class="btn btn-primary mt-2">Update</button>
                </form>
            {% endif %}
        </div>
    </div>
    <hr>
    {% if nails %}
        <h2 class='text-center'>These are your nails photos</h2>
        <div class="row">
            <div class="row">
                {% for nail in nails %}
                    <div class="col-lg-4">
                        <div class="card" style="width: 18rem;">
                            <img src="{{ nail.image.url }}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Type: {{ nail.type }}, Feedback: {{ nail.feedback }}</h5>
                                <p class="card-text">Description: {{ nail.description }}</p>
                                <p class="card-text"><strong>Owner: {{ nail.user }}</strong></p>
                                <a href="{% url 'nail details' nail.id %}" class="btn btn-primary">See details</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% else %}
        <div class="text-center">
            {% if nails.user_id == request.user.id %}
                <h2>You have no nails</h2>
                <a href="{% url 'create' %}" class="btn btn-success">Add Nails Photo</a>
            {% else %}
                <h2>This user has no nails photos</h2>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}