{% extends 'common/base.html' %}
{% load static %}
{% block content %}
    <div class="text-center">
        <h1>Hello, {{ user.profile.first_name }}!</h1>
        {% if profile.user == user %}
            <h5>This is your profile</h5>
        {% else %}
            <h5>This is {{ profile.user }} profile</h5>
        {% endif %}
        {% if profile.profile_image %}
            <img class="rounded-circle mb-3" src="{{ profile.profile_image.url }}" alt="" width="180"
                 height="180">
        {% else %}
            <img class="rounded-circle mb-3" src="{% static 'images/profile.jpeg' %}" alt="" width="140"
                 height="140">
        {% endif %}
        <div class="w-50 m-auto">
            {% if profile.user == user %}
                <form method="post" action="{% url 'profile details' user.id %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form }}
                    <button class="btn btn-primary mt-2">Update</button>
                    {% if not user.is_staff %}
                        <a class="btn btn-danger mt-2" href="{% url 'profile delete' user.id %}">Delete profile</a>
                    {% else %}
                        <a class="btn btn-danger mt-2" href="{% url 'schedule nails' %}">Make yor schedule</a>
                    {% endif %}
                <p></p>
                <span>If you want to change your password<a href="{% url 'password_change' %}"
                                     style="color:orange"> click here!</a></span>
                </form>
            {% endif %}
        </div>
    </div>
    <hr>
    {% if nails %}
        {% if profile.user == user %}
            <h2 class='text-center'>These are your feedback</h2>
        {% else %}
            <h2 class='text-center'>Feedback</h2>
        {% endif %}
            <div class="row">
                {% for nail in nails %}
                    <div class="col-lg-3">
                        <div class="card" style="width: 18rem; margin-bottom: 30px">
                            <img data-enlargeable width="100" style="cursor: zoom-in; height: 200px"
                                 src="{{ nail.image.url }}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Type: {{ nail.type }}, Feedback: {{ nail.feedback }}</h5>
                                <a href="{% url 'nails details' nail.id %}" class="btn btn-primary">See details</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
    {% else %}
        <div class="text-center">
            {% if profile.user_id == request.user.id %}
                <h2>You have no feedback</h2>
                <a href="{% url 'create nails' %}" class="btn btn-success">Leave Feedback Photo</a>
            {% else %}
                <h2>This user has no feedback</h2>
            {% endif %}
        </div>
    {% endif %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

{% endblock %}