<div class="navbar-collapse collapse" id="navbarColor01" style="">
    <ul class="navbar-nav me-auto">
        <li class="nav-item">
            <a class="nav-link" title="Go to profile detail"
               href={% url 'sign up user' %}>Sign Up
                <span class="visually-hidden">(current)</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'sign in user' %}">Sign In</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'list nails' %}">Feedback</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'about' %}">About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'schedule view' %}">Schedule</a>
        </li>
    </ul>
    <ul class="navbar-nav me-auto">
        <li class="nav-item">
            <a title="Message me"
                   href="https://m.me/bstoychev" target="_blank">
                <img src="https://upload.wikimedia.org/wikipedia/commons/b/be/Facebook_Messenger_logo_2020.svg" style="background-size: contain; width: 35px; height: 30px;">
            </a>
        </li>
    </ul>
</div>

