.brand {
    display: flex;
    justify-content: flex-start;


}

.brand a.ig {
    background: url(https://upload.wikimedia.org/wikipedia/commons/e/e7/Instagram_logo_2016.svg) no-repeat 50%;
    content: "";
    background-size: contain;
    width: 35px;
    height: 30px;
}

.brand a.mr {
    content: "";
    background-size: contain;
    width: 35px;
    height: 30px;
    background: url(https://upload.wikimedia.org/wikipedia/commons/b/be/Facebook_Messenger_logo_2020.svg) no-repeat 50%;

}

.brand a.fb {
    content: "";
    background-size: contain;
    width: 35px;
    height: 30px;
    background: url(https://minimalthemedemo.simplybook.it/v2/themes/minimal/img/social/facebook.svg) no-repeat 50%;

}

.location {
    content: "";
    background-size: contain;
    width: 20px;
    height: 15px;
    background: url(/static/images/flat_location_logo.svg) no-repeat 50%;

}

h2 {
    font-family: "Snell Rounded", cursive;
    color: #ff2491;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;

}

/* Container holding the image and the text */
.container {
    position: relative;
    text-align: center;
    color: white;
}

/* Bottom left text */
.bottom-left {
    position: absolute;
    bottom: 20px;
    left: 35%;
}

/* Top left text */
.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
}

/* Top right text */
.top-right {
    position: absolute;
    top: 8px;
    right: 16px;
}

/* Bottom right text */
.bottom-right {
    position: absolute;
    bottom: 20px;
    right: 35%;
}

/* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.heart-o {
    content: "";
    background-size: contain;
    width: 35px;
    height: 30px;
    background: url(/static/images/heart2.svg) no-repeat 50%;
    cursor: pointer;
}

.heart {
    content: "";
    background-size: contain;
    width: 35px;
    height: 30px;
    background: url(/static/images/heart.svg) no-repeat 50%;
    cursor: pointer;
}

html {
    scroll-behavior: smooth;
}

.look {
    float: left;
    margin-right: 28px;
    max-width: 614px;
    width: 100%;
}

@media(max-width: 700px) {

.card {
    margin-top: 20px;
}

}

.table {
    column-fill: balance;
    margin-top: 40px;
    text-transform: uppercase;
    width: 80%;
}

.table table {
    width: 100%;
    border-spacing: 10px;
    /*background-color: white;*/
}

.table table tr {
    column-fill: balance;
    background-color: #3a8fd9;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: unset;
    vertical-align: top;
}

.table table th {
     column-fill: balance;
    background-color: #e83283;
    color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
}

.table table tfoot tr td {
    margin-top: 10px;
    color: #fff;
    background-color: #e83283;
}

#table_container {
    position: sticky;
    top: 0;
}



