<h2 style="font-size: 2.5rem;">About Me...</h2>
<h2 style=" color: #39cbfb ">Моята мисия</h2>
<p class="text-info" style="font-size: 1.5rem;">
Да създавам красиви и здрави нокти! Да напомня на всяко момиче, че трябва да отделя време за себе си и да му се наслади от началото до края. Малките неща, които правят света ни по-хубав, превръщаме в големи и запомнящи се преживявания.
Защото вярваме, че красотата е въпрос на самоусещане, а не наложена норма за външен вид. По същия начин модата и тенденциите не са обременяващ модел на подражание, а вдъхновяваща посока, с която да се забавляваме, докато намираме свои начини да я интерпретираме.
</p>
<h2 style=" color: #39cbfb ">Обслужване със сърце</h2>
<p class="text-info" style="font-size: 1.5rem;">
Професионализмът не се измерва само с уменията, но и с това колко добре разбираш и обслужваш клиентите си. Уважавам и разбирам своите клиенти и им предоставям качествени услуги, красива атмосфера и човешко отношение.
</p>
<h2 style=" color: #39cbfb ">Внимание към детайла</h2>
<p class="text-info" style="font-size: 1.5rem;">
Едно от отличителните неща на на моя салон е в подхода към услугата маникюр и педикюр. Те вече не са допълваща услуга, а напротив – основна и единствена. Работя по изграден от мен метод, така клиентите получават гарантирано качество на услугата и внимание към най-малкия детайл.
</p>


