{% extends 'common/base.html' %}
{% block content %}
    <p></p>
    <div class="card mb-3">
        <h2 class="card-header" style="color: #e93c89">About You</h2>
        <div class="card-body">
            <h5 class="card-title">Обслужване със сърце</h5>
            <h6 class="card-subtitle text-muted">Професионализмът не се измерва само с уменията, но и с това колко добре разбираш и
                            обслужваш клиентите си. Уважавам и разбирам своите клиенти и им предоставям качествени
                            услуги, красива атмосфера и човешко отношение.</p>
                        <p class="mb-0">
                            Вече все по-рядко активните хора, чийто ден е ангажиран до секунди, си позволяват да се
                            отпуснат. Подари си едно качествено бягство от динамиката на ежедневието.</h6>
        </div>
        <img src="/static/images/about.jpg" class="d-block user-select-none"
             aria-label="Placeholder: Image cap" focusable="false" role="img" preserveAspectRatio="xMidYMid slice"
             viewBox="0 0 318 180" style="font-size:1.125rem;text-anchor:middle" alt="grads">
        <rect width="100%" height="100%" fill="#868e96"></rect>
        <text x="50%" y="50%" fill="#dee2e6" dy=".3em"></text>
        </img>
        <div class="card-body">
{#            <a href="#" class="card-link">Card link</a>#}
{#            <a href="#" class="card-link">Another link</a>#}
        </div>
        <div class="card-footer text-muted">
        </div>
    </div>
{% endblock %}


