{% load static %}
{% load profile_comlete_notification %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sonya`s nails</title>
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    {% include 'common/header.html' %}
    {% if user.is_authenticated %}
        {% profile_complete_notification %}
    {% endif %}
</head>
<body>
<div class="container">
    {% block content %}
    {% endblock %}
</div>
</body>
<p></p>
<footer id="footer" class="container">
    {% include 'common/footer.html' %}
</footer>
<script src="{% static 'js/changeImage.js' %}"></script>
<script src="{% static 'js/editImagesView.js' %}"></script>
<script src="{% static 'js/fullScreenImages.js' %}"></script>
</html>

