<h2 style="font-size: 2.5rem;">Contact Me</h2>
<h2><a style=" color: #39cbfb " href="tel:+359 877 595 926"> Call me 0878799853</a></h2>
<h2><a style=" color: #39cbfb " href="https://m.me/bstoychev"><img
        src="https://upload.wikimedia.org/wikipedia/commons/b/be/Facebook_Messenger_logo_2020.svg"
        style="width: 60px; height: 55px;"></a></h2>
<p class="text-info" style="font-size: 1.5rem;">
    За въпроси относно часове моля свържете се с мен! Разгледайте графика ми <a style=" color: mintcream " href="{% url 'schedule view' %}">тук!</a>
</p>