{% extends 'common/base.html' %}
{% block content %}
    <p></p>
    <div class="card mb-3">
        <h2 class="card-header" style="color: #e93c89">Fresh Vision</h2>
        <div class="card-body">
            <h5 class="card-title">Внимание към детайла</h5>
            <h6 class="card-subtitle text-muted">Едно от отличителните неща в моя салон е в подхода към услугата маникюр
                и педикюр. Те
                вече не са допълваща услуга, а напротив – основна и единствена. Работя по изграден от мен метод,
                така клиентите получават гарантирано качество на услугата и внимание към най-малкия детайл.</h6>
        </div>
        <img src="/static/images/intro.jpg" class="d-block user-select-none"
             aria-label="Placeholder: Image cap" focusable="false" role="img" preserveAspectRatio="xMidYMid slice"
             viewBox="0 0 318 180" style="font-size:1.125rem;text-anchor:middle" alt="grads">
        <rect width="100%" height="100%" fill="#868e96"></rect>
        <text x="50%" y="50%" fill="#dee2e6" dy=".3em"></text>
        </img>
        <div class="card-body">
{#            <a href="#" class="card-link">Card link</a>#}
{#            <a href="#" class="card-link">Another link</a>#}
        </div>
        <div class="card-footer text-muted">
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h2 class="card-title">My Mission</h2>
            <h6 class="card-subtitle mb-2 text-muted">To You</h6>
            <p class="card-text">Да създавам красиви и здрави нокти! Да напомня на всяко момиче, че трябва да отделя
                време за себе си и да му се наслади от началото до края. Малките неща, които правят света ни
                по-хубав, превръщаме в големи и запомнящи се преживявания.Защото вярваме, че красотата е въпрос
                на самоусещане, а не наложена норма за външен вид. По същия начин модата и тенденциите не са
                обременяващ модел на подражание, а вдъхновяваща посока, с която да се забавляваме, докато
                намираме свои начини да я интерпретираме.</p>
        </div>
    </div>
{% endblock %}


