<h2 style="font-size: 2.5rem;">Just To You</h2>
<h2 style=" color: #39cbfb ">Класически маникюр </h2>
<p class="text-info" style="font-size: 1.5rem;">
Оформяне на ноктите, почистване на кутикулата, лакиране в един цвят и финиш с нежен масаж.
</p>
<h2 style=" color: #39cbfb ">Гел лак маникюр</h2>
<p class="text-info" style="font-size: 1.5rem;">
Класически маникюр с гел лак в един цвят. За всички, които търсят по-траен маникюр.
</p>
<h2 style=" color: #39cbfb ">Класически педикюр</h2>
<p class="text-info" style="font-size: 1.5rem;">
Ароматна вана за ходилата, оформяне на ноктите, почистване на кутикулата и стъпалата, лакиране и финиш с нежен масаж.
</p>
<h2 style=" color: #39cbfb ">Гел лак педикюр</h2>
<p class="text-info" style="font-size: 1.5rem;">
Класически маникюр с гел лак в един цвят, за тези от вас, които искат дълготраен блясък и защитени нокти.
</p>
<h2 style=" color: #39cbfb ">Ела с приятелка!</h2>
<p class="text-info" style="font-size: 1.5rem;">
Вече все по-рядко активните хора, чийто ден е ангажиран до секунди, си позволяват да се отпуснат. Подари си едно качествено бягство от динамиката на ежедневието.
</p>