{% extends 'nails/base.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="d-flex">
            <div class="d-inline p-2 w-50">
                <img src="{{ nail.image.url }}" class="w-50 rounded mx-auto d-block" alt="{{ nail.description }}">
            </div>
            <div class="d-inline p-2 w-50">
                <div class="d-flex justify-content-between">
                    <h5><u>Type:</u> {{ nail.type }}</h5>
                    <h5><u>Title:</u> {{ nail.title }}</h5>
                </div>
                <p class="mt-2">Description: {{ nail.description }}</p>
                <div>
                    <a href="{% url 'edit' nail.pk %}" class="btn btn-success">Edit</a>
                    <a href="{% url 'delete' nail.pk %}" class="btn btn-danger">Delete</a>
                </div>
                <p></p>
                <a href="{% url 'like nail' nail.id %}"><img src="{% static 'images/heart2.svg' %}"
                                                             style="width: 35px; height: 30px;"></a>
                <p class="mt-2">Likes: {{ nail.likes_count }}</p>
            </div>
        </div>
        <div class="form-control">
            {% if nail.comment_set.count %}
                {% for coment in nail.comment_set.all %}
                    <div class="box">
                        <h5><em>{{ coment.comment }}</em></h5>
                        <hr>
                    </div>
                {% endfor %}
            {% else %}
                <div class="box">
                    <h3>There are no comments for this nail. </h3>
                </div>
            {% endif %}
            <div class="box">
                <form method="post" >
                    {% csrf_token %}
                    {{ comment_form }}
                    <button class="btn btn-primary mt-2" type="submit">Add comment</button>
                </form>
            </div>
        </div>
    </div>
    <script src="{% static 'js/heart.js' %}"></script>
{% endblock %}
