<div class="col-lg-4">
    <div class="card" style="width: 18rem;">
        <img data-enlargeable width="100" style="cursor: zoom-in" src="{{ nail.image.url }}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Type: {{ nail.type }} Feedback: {{ nail.feedback }}</h5>
            <p class="card-text">{{ nail.description }}</p>
            <p class="card-text"><strong>Owner: {{ nail.user }}</strong></p>
            <a href="{% url 'nails details' nail.id %}" class="btn btn-primary">See details</a>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
