{% extends 'common/base.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="d-flex">
            <div class="d-inline p-2 w-50">
                <img data-enlargeable width="100" style="cursor: zoom-in" src="{{ nails.image.url }}"
                     class="w-50 rounded mx-auto d-block" alt="{{ nails.description }}">
            </div>
            <div class="d-inline p-2 w-50">
                <div class="d-inline justify-content-between">
                    <h5><a class="nav-link" href="{% url 'profile details' nails.user_id %}">{% include 'common/avatar_navi.html' %}{{ nails.user }}</a></h5>
                    <h5>Type: {{ nails.type }}</h5>
                    <h5>Feedback: {{ nails.feedback }}</h5>
                </div>
                <p class="mt-2"><b>Description:</b> {{ nails.description }}</p>
                {% if is_owner %}
                    <div>
                        <a href="{% url 'edit nails' nails.pk %}" class="btn btn-success">Edit</a>
                        <a href="{% url 'delete nails' nails.pk %}" class="btn btn-danger">Delete</a>
                    </div>
                {% else %}
                    {% if not is_liked_by_user %}
                        <a href="{% url 'like nails' nails.id %}">
                            <img src="{% static 'images/heart2.svg' %}"
                                 style="width: 35px; height: 30px;"></a>
                    {% else %}
                        <a href="{% url 'like nails' nails.id %}">
                            <img src="{% static 'images/heart.svg' %}"
                                 style="width: 35px; height: 30px;">
                        </a>
                    {% endif %}
                {% endif %}
                <p class="mt-2">Likes: {{ nails.likes_count }}</p>
            </div>
        </div>
        <div class="form-control">
            <div class="box">
                <form method="post" action="{% url 'comment nails' nails.id %}">
                    {% csrf_token %}
                    {{ comment_form }}
                    <button class="btn btn-primary mt-2" type="submit">Add comment</button>
                </form>
            </div>
            <p></p>
            {% if user.is_authenticated %}
                {% if comments %}
                    {% for comment in comments %}
                        <div class="card border-secondary mb-3">
                            <div class="row row-cols-1 justify-content-between">
                                <div class="col text-start">
                                    {% include 'common/avatar.html' %}
                                    {{ comment.user }}:
                                    <h5><em>{{ comment.comment }}</em></h5>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <div>
                        <h2>There are no comments for this feedback. </h2>
                    </div>
                {% endif %}
            {% endif %}
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
{% endblock %}
